.left {
    text-align: justify!important;
    background-color:#F8F9FA;
}
.oculto{
     overflow: hidden!important;
}
a{
    color:grey!important;
}
nav{
    background-color: #6C757D;
}
nav div a{
    color:white!important;
} 
span {
    color: white!important;
}
